@import "../../global.scss";

.intro {
  background-color: $sixthColor;
  display: flex;
  overflow: hidden;

  .left {
    flex: 0.5;
    overflow: hidden;

    .imgContainer {
      width: 45em;
      height: 45em;
      background-color: $firstColor;
      border-radius: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 1;
      transform: translateX(5%); /* Move the container to the right */
      top: 4em;

      img {
        width: 70%;
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 80px;
        margin: 10px 0;
        color: white;
      }
      h2 {
        font-size: 35px;
        color: white;
      }
      h3 {
        height: 35px;
        font-size: 30px;

        .cursor {
          opacity: 1;
          animation: blinkCursor 0.5s infinite;
        }

        @keyframes blinkCursor {
          0%,
          100% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
        }

        span {
          color: $firstColor;
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      // left: 30%; //Uncomment if you want arrow to move to the right any. With it commented it centers the arrow on the page.

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }
      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
