$firstColor: #03045e;
$secondColor: #023e8a;
$thirdColor: #0077b6;
$fourthColor: #0096c7;
$fifthColor: #00b4d8;
$sixthColor: #48cae4;
$seventhColor: #90e0ef;
$eighthColor: #ade8f4;
$ninthColor: #caf0f8;